
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
}


header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}


main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    
}


.box {
    width: calc(33.33% - 20px);
    margin: 0 10px 20px 10px;
    padding: 20px;
    border: 1px solid #000;
    background-color: #f0f0f0;
    position: relative;
    padding-top: 30px;
    border-radius: 10px;
    
}



.title {
    
    position: absolute;
    top: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-top-right-radius: 10px;
}

@media screen and (max-width: 991px) {
    .box {
        width: calc(50% - 20px);
    }
    .box:nth-child(3) {
        width: calc(100% - 20px);
    }
}


@media screen and (max-width: 767px) {
    .box {
        width: calc(100% - 20px);
    }
}


